body{
  margin: 0px;
  background-color: #e4abec;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
section > h1{
  text-align: center;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.mainContainer > main{
  height: 100%;
}
.mainContainer > footer{
  background-color: #1c011c;
  padding: 10px;
}
.navbar{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  background-color: #6e108a;
  border-bottom: 1px solid #1f072c;
  box-shadow: 1px 1px #322a36;
}
.navbar > li{
  display: flex;
  align-items: center;
}
.logo {
  height: 70px;
  width: 70px;
}
.mainbuttom{
  background-color: #822ca4;
  color: white;
  animation: 5s;
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.mainbuttom:hover{
  cursor: pointer;
  box-shadow: 2px 2px gray;
  transform: scale(1.01);
}
button{
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.01);
}
.mainbuttom{
  background-color: #642c7c;
  color: white;
  animation: 5s;
}
.mainbuttom:hover{
  box-shadow: 2px 2px gray;
}
.secondarybuttom{
  background-color: #db9ef8;
  color: white;
}
.secondarybuttom:hover{
  box-shadow: #000000;
}
.buscar{
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.buscar:focus-within{
  border: 1px solid #8e2ca4;
}
.buscar > input{
  outline: none;
  border: 0px;
}
.iconobuscar:hover{
  color: #822ca4;
}
.breadCardContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.breadCard{
  margin: 10px;
  background-color: #2e032f;
  box-shadow: 5px 5px 5px #4d054a;
  border-radius: 10px;
}
.breadTitle{
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
}
.contenedorImagen{
  width: 240px;
  height: 360px;
  display: flex;
}
.contenedorImagen:hover{
  cursor: pointer;
  transform: scale(1.01);
}
.contenedorImagen > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}